<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.o2ocrm.system.mapper.ShopMapper">
    <!--  通过手机号查询店铺信息  -->
    <select id="getShopListByTel" resultType="com.o2ocrm.system.domain.Shop">
        select * from t_shop where tel = #{tel}
    </select>
</mapper>
